[submodule "zsh/.zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh/plugins/zsh-git-prompt"]
	path = zsh/.zsh/plugins/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
